/*  your css code here. If applicable */
body{
	min-height:100rem;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
table{
	width:100%;
	min-height:7rem;
	border:1px solid black;
	cell-spacing:1px;
	cell-padding:1px;
}
#blue{
	background-color:blue;
}
#green{
	background-color:green;
}
#t-image{
	text-align:center;
}
h1{
	text-align:center;
}
